<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row align-items-center">
      <!-- Left-aligned locations -->
      <div class="col-md-4 text-md-left text-center">
        <span class="font-weight-bold" style="font-size: 1.1rem;">ERODE || KODUMUDI || VANTHAVASI</span>
      </div>
      
      <!-- Centered shop name and number -->
      <div class="col-md-4 text-center">
        <div>
          <span class="font-weight-bold d-block" style="font-size: 1.1rem;">E AGRI FARMER TRADE CENTER</span>
          <span class="font-weight-bold d-block" style="font-size: 1.1rem;">+91 6381623023</span>
        </div>
      </div>
      
      <!-- Right-aligned social icons with YouTube link -->
      <div class="col-md-3 text-md-right text-center mt-2 mt-md-0">
        <a href="https://www.youtube.com/@eagrifarmerschannel1253" target="_blank" class="text-dark px-2"><i class="fab fa-lg fa-youtube"></i></a>
        <a href="#" class="text-dark px-2"><i class="fab fa-lg fa-facebook"></i></a>
        <a href="https://wa.me/916381623023" class="text-dark px-2"><i class="fab fa-lg fa-whatsapp"></i></a>
      </div>
    </section>
  </div><!-- //container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.thumb a').click(function(e){
      e.preventDefault();
      $('.mainImage img').attr('src',$(this).attr("href"));
    })
  })
</script>
</body>
</html>
